{:rest-api
 {:name "REST API"
  :port 8080
  :prestop-duration 10
  :routes [{:route "/"
            :body-file "/etc/server/index.html"}
           {:route "/help"
            :body "help"}]}
 :liveness
 {:name "liveness"
  :port 3000
  :prestop-duration 10
  :routes [{:route "/liveness"
            :body "ok"}
           {:route "/shutdown"
            :shutdown true}]}
 :readiness
 {:name "readiness"
  :port 3001
  :prestop-duration 10
  :routes [{:route "/readiness"
            :body "ok"}]}}
